<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60063635500-32h8li6ouecoa249e0keaej144m9i7h9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60063635500-32h8li6ouecoa249e0keaej144m9i7h9</string>
	<key>API_KEY</key>
	<string>AIzaSyBi4R25zLdKbtxQvWHeMKyCRuOiI5H_Kjg</string>
	<key>GCM_SENDER_ID</key>
	<string>60063635500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AgoraService.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-256b6</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-256b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60063635500:ios:d5af0adaf2c963efe75989</string>
</dict>
</plist>